.logonPage {
  height: 100vh;
  width: 100%;
  padding: 5% 0 0 0;
  background-color: rgb(83, 83, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.logonBox {
  height: 50%;
  max-width: 90%;
  width: 550px;
  background-color: rgb(158, 158, 158);
  border: 3.5px solid white;
}
.logonBoxTop {
  height: 30px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 1.1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  background: linear-gradient(to right, blue, rgb(83, 83, 255));
}
.logonBoxCenter {
  padding-top: 3px;
  border: 1px solid grey;
  background-color: #fff;
}
.LogonBoxCenterIcon {
  height: 90px;
  width: 100%;
}
.logonBoxBottom {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 1rem;
}
.logonBoxBottomUserNameBox,
.logonBoxBottomPasswordBox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logonBoxBottomUserName,
.logonBoxBottomPassword {
  font-size: 1.2rem;
}
.logonBoxBottomUserName::first-letter,
.logonBoxBottomPassword::first-letter {
  text-decoration: underline;
}
.userName,
.password {
  font-size: 1rem;
  height: 25px;
  width: 60%;
  padding-left: 5px;
}
.password {
  font-size: 2rem;
}
.bottomDown {
  padding-top: 20px;
  height: auto;
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}
.bottomDownOk,
.bottomDownCancel,
.bottomDownShutdown {
  height: 30px;
  width: 100px;
  font-size: 1rem;
}
.bottomDownOk:hover,
.bottomDownShutdown:hover {
  border: 3px solid black;
}
.bottomDownCancel {
  color: rgb(123, 123, 123);
}
.forgotPassword {
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-right: 20px;
  color: rgb(0, 0, 141);
  font-size: 1.2rem;
  cursor: default;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 450px) {
  .logonBoxBottomUserName,
  .logonBoxBottomPassword {
    font-size: 1rem;
  }
  .bottomDown {
    padding-left: 10px;
  }
  .bottomDownOk,
  .bottomDownCancel,
  .bottomDownShutdown {
    width: 80px;
    font-size: 0.8rem;
  }
}
