.taskBarMain {
  height: 38px;
  width: 100%;
  position: absolute;
  z-index: 100;
  bottom: 0;
  background-color: rgb(109, 109, 109);
  color: rgb(255, 255, 255);
  padding-left: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
.windowsTop {
  height: 400px;
  width: 300px;
  position: absolute;
  bottom: 38px;
  left: 0;
  color: black;
  background-color: #ffffff;
  display: flex;
}
.windowsTop .windowsTopStartMenu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.windowsTop .windowsTopStartMenu li {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0 0 0 4px;
}
.windowsTop .windowsTopStartMenu li:hover {
  height: 40px;
  width: 100%;
  background-color: rgba(31, 31, 255, 0.77);
}
.gamesBox {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
}
.gameBoxLeft {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.gamesAll {
  width: 170px;
  background-color: #fff;
  position: absolute;
  left: 100%;
  top: 40px;
  display: none;
}
.gameBox:hover .gamesAll {
  display: block;
}
.windowsLeft {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.windowsLeft .windowsStart {
  padding-right: 10px;
  display: flex;
  align-items: center;
  height: 27px;
  width: auto;
  gap: 0.3rem;
  font-weight: 600;
  box-shadow: -1px -1px 1px rgb(187, 187, 187);
  background-color: rgb(150, 149, 149);
  color: black;
  cursor: default;
}
.windowsStart img {
  height: 30px;
  width: auto;
}
.closeTaskBar {
  background-color: rgb(184, 184, 184);
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.windowsRight {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  font-size: 0.9rem;
  transition: width 0.3s linear;
}
.windowsRight .windowsStart {
  height: 27px;
  width: 75px;
  font-weight: 600;
  box-shadow: -1px -1px 1px rgb(187, 187, 187);
  background-color: rgb(150, 149, 149);
  color: black;
  display: flex;
  align-items: center;
}
.windowsBattery {
  padding-left: 5px;
  padding-right: 5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 750px) {
  .windowsRight {
    width: 30%;
  }
}
@media only screen and (max-width: 450px) {
  .windowsRight {
    font-size: 0.8rem;
  }
}
